# ===================================================================================================================================================================
# BACKBONE
# ===================================================================================================================================================================
BACKBONE_CONFIG_PATH="./configs/backbone/inception_resnet_v1.yaml"
BACKBONE_CONFIG_CLASS="config.backbone.inception_resnet_v1_config.InceptionResNetV1Config"
BACKBONE_CLASS="backbone.inception_resnet_v1.InceptionResNetV1"

# ===================================================================================================================================================================
# Train/Val DATASET AND TRANSFORMATION
# ===================================================================================================================================================================
TRAIN_VAL_TRANSFORMATION_CONFIG_PATH="./configs/transformation/train_val/casia_webface_train_val_transformation.yaml"
TRAIN_VAL_TRANSFORMATION_CONFIG_CLASS="config.transformation.train_val.casia_webface_train_val_transformation_config.CasiaWebFaceTrainValTransformationConfig"
TRAIN_TRANSFORMATION_CLASS="transformation.train_val.casia_webface_train_val_transformation.CasiaWebFaceTrainTransformation"
VAL_TRANSFORMATION_CLASS="transformation.train_val.casia_webface_train_val_transformation.CasiaWebFaceValTransformation"

TRAIN_VAL_DATASET_CONFIG_PATH="./configs/dataset/train_val/vgg_face2_train_val.yaml"
TRAIN_VAL_DATASET_CONFIG_CLASS="config.dataset.train_val.vgg_face2_train_val_config.VGGFace2TrainValConfig"
TRAIN_DATASET_CLASS="dataset.train_val.vgg_face2_train_val_dataset.VGGFace2Train"
VAL_DATASET_CLASS="dataset.train_val.vgg_face2_train_val_dataset.VGGFace2Val"
# ===================================================================================================================================================================

# ===================================================================================================================================================================
# LOSS
# ===================================================================================================================================================================
LOSS_CONFIG_PATH=./configs/loss/margin_cosine_product.yaml
LOSS_CONFIG_CLASS=config.loss.margin_cosine_product_loss_config.MarginCosineProductLossConfig
LOSS_CLASS=loss.margin_cosine_product_loss.MarginCosineProductLoss
# ===================================================================================================================================================================

# ===================================================================================================================================================================
# SAMPLER
# ===================================================================================================================================================================
USE_SAMPLER=False
BATCH_SAMPLER_CONFIG_PATH="./configs/batch_sampler/facenet_batch_sampler.yaml"
BATCH_SAMPLER_CONFIG_CLASS="config.batch_sampler.facenet_batch_sampler_config.FacenetBatchSamplerConfig"
BATCH_SAMPLER_CLASS="batch_sampler.facenet_batch_sampler.FacenetBatchSampler"
# ===================================================================================================================================================================

# ===================================================================================================================================================================
# EARLY STOPPER
# ===================================================================================================================================================================
USE_EARLY_STOPPER=True
EARLY_STOPPER_CONFIG_PATH="./configs/early_stopper/adaptative_early_stopper.yaml"
EARLY_STOPPER_CONFIG_CLASS="config.early_stopper.adaptative_early_stopper_config.AdaptativeEarlyStopperConfig"
EARLY_STOPPER_CLASS="early_stopper.adaptative_early_stopper.AdaptativeEarlyStopper"
# ===================================================================================================================================================================

# ===================================================================================================================================================================
# TRAINER
# ===================================================================================================================================================================
TRAINER_CONFIG_PATH="./configs/trainer/mobilenetv3_trainer.yaml"
TRAINER_CONFIG_CLASS="config.trainer.trainer_config.TrainerConfig"
# ===================================================================================================================================================================